<!doctype html>
<html lang="en">
  <head>
    <title>eCATnomics Hackathon Webapp</title>
	<!-- VIDEO CSS -->
	<style type="text/css">
		header {
		    background-color:black;
		    color:white;
		    text-align:center;
		    padding:5px;	 
		}
		nav {
		    line-height:30px;
		    background-color:#eeeeee;
		    height:300px;
		    width:10%;
		    float:right;
		    padding:5px;	      
		}
		section {
		    width:550px;
		    float:left;
		    padding:10px;	 	 
		}
		footer {
		    background-color:black;
		    color:white;
		    clear:both;
		    text-align:center;
		    padding:5px;	 	 
		}
	</style>
  </head>
  <body>
  	<header>
		<h1>eCATnomics: Fusing cat collecting and Capital One banking into one game </h1>
	</header>
	
	<nav>
		Navigation<br>
		Chat
	</nav>
	
	<section>
		<h1>Block Content</h1>
		{% block content %}{% endblock %}
	</section>
	
	<footer>
		HackTJ 2016
	</footer>
  </body>
</html>
