<!doctype html>
<html lang="en">
  <head>
    <title>eCATnomics Hackathon Webapp</title>
	<!-- VIDEO CSS -->
	<style type="text/css">
		header {
		    background-color:black;
		    color:white;
		    text-align:center;
		    padding:5px;	 
		}
		nav {
		    line-height:30px;
		    background-color:#eeeeee;
		    height:300px;
		    margin-left:80%;
		    padding:5px;
		    text-align: center;
		}
		section {
		    float:left;
		    width:80%;
		    padding:10px;	 	 
		}
		footer {
		    background-color:black;
		    color:white;
		    clear:both;
		    text-align:center;
		    padding:5px;	 	 
		}
	</style>
  </head>
  <body>
  	<header>
		<a href="/"><h1>eCATnomics: Fusing cat collecting and Capital One banking into one game </h1></a>
	</header>
	<section>
		<h1>Block Content</h1>
		<h2>{% block content %}{% endblock %}</h2>
	</section>
	<nav>
		<h2>Navigation</h2><br>
		<h2>Chat</h2>
	</nav>
	<div style="clear: both;"></div>
	
	
	<footer>
		HackTJ 2016
	</footer>
  </body>
</html>
